* {
	box-sizing: border-box;
}

/*grid is 960px w/12 gutters
*/

.row, .topbar {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4 {
	float: left;
	padding-left: 1.04166666%;
  	padding-right: 1.04166666%; 
}
/*mobile*/
.col-4, .topbar {
	width: 100%;
}


/*standard grid*/
@media only screen and (min-width: 640px) {
	.col-4 {
		width: 33.33%;
	}
	.topbar {
		width: 100%;
	}
}
